@tailwind base;
@tailwind components;
@tailwind utilities;

html, body {
  overflow-x: hidden; 
overflow-y: auto;
}

body {
margin: 0;
padding: 0;
  background: #17313a;
  font-family: Arial, Helvetica, sans-serif;
}
body {
  background-image: url('./bg.png');
  background-size: cover;
  background-position: center;
}

/* Hide Scrollbar for Webkit Browsers */
.no-scrollbar::-webkit-scrollbar {
  display: none;
}

/* Hide Scrollbar for Firefox */
.no-scrollbar {
  scrollbar-width: none;
  -ms-overflow-style: none; /* IE and Edge */
}

.custom-scroll {
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* IE/Edge */
}
.custom-scroll::-webkit-scrollbar {
  display: none; /* Chrome/Safari */
}
